body{
    background-color: rgb(182, 122, 238);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
.xs{
    background-color: rgb(175, 104, 241);
    display: inline-block;
    border-radius: 10px;
}
#bar{
    text-align: center;
    margin: auto;
    width: 500px;
    height: 20px;
    border-style: solid;
    border-radius: 2px;
    border-color: black;
    
}
#mybar{
    margin: 0px;
    width:100%;
    height: 100%;
    background-color:aqua;
}
form{
    border-radius: 10px;
    display: inline-block;
    background-color: rgb(171, 91, 247);
    width: auto;
    height: auto;
}
button{
    background-color: rgb(129, 67, 187);
}